 .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  button {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
